<h1 mat-dialog-title class="title">{{ data ? 'Update User' : 'Add User'}}</h1>
<div class="container">
    <div class="row">
        <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
            <mat-dialog-content class="content">
                <div class="row">
                    <mat-form-field appearance="outline" class="mat-input">
                        <mat-label>Select Department</mat-label>
                        <mat-select formControlName="department">
                            <mat-option value="it">IT</mat-option>
                            <mat-option value="hr">HR</mat-option>
                            <mat-option value="sales">SALES</mat-option>
                            <mat-option value="accounts">ACCOUNTS</mat-option>
                            <mat-option value="management">MANAGEMENT</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="mat-input">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" placeholder="Name" formControlName="name">
                    </mat-form-field>
                </div>
    
                <div class="row">
                    <mat-form-field appearance="outline" class="mat-input">
                        <mat-label>Mobile</mat-label>
                        <input matInput type="text" placeholder="Mobile" formControlName="mobile">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="mat-input">
                        <mat-label>Email</mat-label>
                        <input matInput type="text" placeholder="Email" formControlName="email">
                    </mat-form-field>
                </div>
    
                <div class="row">
                    <mat-form-field appearance="outline" class="mat-input">
                        <mat-label>Select Date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="doj">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-radio-group aria-label="Select an option" formControlName="gender">
                        <mat-label>Gender</mat-label>
                        <mat-radio-button value="male">Male</mat-radio-button>
                        <mat-radio-button value="female">Female</mat-radio-button>
                    </mat-radio-group>
                </div>
    
                <div class="row">
                    <mat-form-field appearance="outline" class="mat-input">
                        <mat-label>Salary</mat-label>
                        <input matInput type="text" placeholder="Salary" formControlName="salary">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="mat-input">
                        <mat-label>User Code</mat-label>
                        <input matInput type="text" placeholder="User Code" formControlName="usercode">
                    </mat-form-field>
                </div>
    
                <div class="row">
                    <section class="example-section">
                        <mat-checkbox class="example-margin" formControlName="status">Active ?</mat-checkbox>
                    </section>
                </div>
    
            </mat-dialog-content>
        
            <mat-dialog-actions class="action">
                <button mat-raised-button class="btn-cancel" type="button" [mat-dialog-close]="false">CANCEL</button>
                <button mat-raised-button class="btn-save" type="submit">{{ data ? 'Update' : 'Save'}}</button>
            </mat-dialog-actions>
        </form>
    </div>
</div>
    

